.container {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    max-width: 960px;
}

.square {
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: aquamarine;
}

.hover {
    background-color: red;
}